@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent
@namespace Sandbox

<root>
	<div class="inventory">
		<div class="slot-container">
			@for(int i = 0; i < inventory.Items.Length; i++) {
				<div class="inventory-slot @(isChosen(i))"></div>
			}
		</div>

		<p class="item-title">@(inventory.SelectedItem)</p>
	</div>
	<div class="money-counter">@(inventory.Rubles) P</div>
</root>

@code
{	
	[Property] public GameObject Player { get; set; }

	private string isChosen(int i) => inventory.Cursor == i ? "inventory-slot-chosen" : "";


	private PlayerInventory inventory;

	protected override void OnStart() {
		inventory = Player.GetComponent<PlayerInventory>();
	}

	protected override int BuildHash() {
		//pohuy
		return System.HashCode.Combine(Time.Now);
	}
}
