PlayerHUD
{
	.inventory {
		
		position: absolute;
		right: 0px;
		left: 0px;
		padding: 10px;
		

		display: flex;
		flex-direction: column;
		justify-content: center;

		.slot-container {
			display: flex;
			flex-direction: row;
			justify-content: center;
		}

		.inventory-slot {
			width: 32px;
			height: 32px;
			background-color: rgba(0, 0, 0, 0.404);
			margin: 12px;

			text-align: center;
			font-style: italic;

			transition: background-color 0.05s;
		}

		.inventory-slot-chosen {
			width: 42px;
			height: 42px;
			line-height: 100px; 
			background-color: rgb(92, 60, 0);

			border-radius: 6px;
			border-color: #fff;
		}

		.item-title {
			text-align: center;
			margin: auto;
			color: rgb(131, 85, 0);
			letter-spacing: 4px;
		}
	}

	.money-counter {
		position: absolute;
		right: 5px;
		bottom: 5px;

		font-weight: bold;
		font-style: italic;
		font-size: 32px;
		letter-spacing: 3px;
		color: rgb(92, 60, 0);
	}

	.item-hover-name {
		font-size: 32px;
		text-align: center;
		font-style: italic;
		text-decoration: underline rgb(131, 85, 0);
		font-weight: bold;
		text-stroke: 3px rgb(255, 255, 255);
		
		position: absolute;
		width: 10%;
		left: 45%;
		right: 30%;
		top: 50%;
	}
	
	.objective {
		position: absolute;

		display: flex;
		flex-direction: column;

		div {
			font-size: 24px;
			color: rgb(163, 163, 163);
		}

		.objective-title {
			font-size: 48px;
			margin-bottom: 12px;
			color: rgb(131, 85, 0);
		}

		.objective-tooltip {
			font-size: 16px;
			font-style: italic;
			margin-bottom: 6px;
		}

		.objective-finished {
			font-size: 32px;
			color: green;
			font-weight: bold;
		}
	}
}