@using Sandbox;
@using Sandbox.UI;
@using Sandbox.Services;
@inherits PanelComponent
@namespace Sandbox

<root>
	<div class="results-title">RESULTS</div>
	<div class="content">
		<div>You got:</div>
		<div class="score">ARRESTED FOR MANUFACTURING DRUGS</div>
		<div style="font-style: italic;">good job!</div>
	</div>
	<div class="tip">press ENTER to return to main menu</div>
</root>

@code
{
	protected override int BuildHash() => System.HashCode.Combine( 1 );
	protected override void OnUpdate() {
		if (Input.Pressed("EnterLiteral")) {
			Scene.LoadFromFile("scenes/menu.scene");
		}
	}
	protected override void OnStart() {
		Achievements.Unlock("ending_one");
	}
}
