@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent
@namespace Sandbox

<root>
	<div class="results-title">RESULTS</div>
	<div class="content">
		<div>You got:</div>
		<div class="score">ARRESTED FOR MANUFACTURING DRUGS</div>
		<div style="font-style: italic;">good job!</div>
	</div>
	<div class="tip">press ENTER to return to main menu</div>
</root>

@code
{
	protected override int BuildHash() => System.HashCode.Combine( 1 );
	private int getScore() {
		if (FileSystem.Data.FileExists("last-score.txt")) {
			return FileSystem.Data.ReadAllText("last-score.txt").ToInt();
		}

		return 0;
	}
	protected override void OnUpdate() {
		if (Input.Pressed("EnterLiteral")) {
			Scene.LoadFromFile("scenes/menu.scene");
		}
	}
}
