@using Sandbox;
@using Sandbox.UI;
@using Sandbox.Services;
@inherits PanelComponent
@namespace Sandbox

<root>
	<div class="title">@(Dialogue[currentText])</div>
</root>

@code
{

	[Property, TextArea] public string[] Dialogue { get; set; }
	[Property] public float DialogueInterval { get; set; }
	private int currentText = 0;
	private float lastText = Time.Now;

	protected override void OnStart() {
		Achievements.Unlock("ending_secret");
	}

	protected override void OnUpdate() {
		if (Time.Now - lastText > DialogueInterval) {
			if (Dialogue.Length - 1 >= currentText + 1) {
				currentText++;
			}

			lastText = Time.Now;
		}
	}

	/// <summary>
	/// the hash determines if the system should be rebuilt. If it changes, it will be rebuilt
	/// </summary>
	protected override int BuildHash() => System.HashCode.Combine( Time.Now );
}
